
<section id="ecommerce_1" class="align-items-end" data-controller="ecommerces--ecommerce-1"
                                                  data-ecommerces--ecommerce-1-wireframe-class="wireframe">

   <%= render partial: 'shared/section', locals: { section_name: "ecommerce", number: 1 } %>

    <div class="main pb-5" data-ecommerces--ecommerce-1-target="main">
      <div class="product-main d-flex mb-5">
        <img src="<%= asset_path('product-thumbnail-wireframe.png') %>" alt="" class="product-thumbnail mr-4 w-50 rounded" data-asset="product-thumbnail">
        <div class="product-infos w-50">
          <h2> Teddy Will-Greet-You </h2>
          <small class="text-secondary"> Manufactured by Acme ltd. </small>
          <p class="text-secondary mt-4"> This teddy does everything you always wanted and more. Don't hesitate to buy it right now. </p>
            <h2> Features </h2>
            <ul class="text-secondary">
              <li> Waits for you at the airport with a signpost </li>
              <li> Waits until you are out of Jail. The signpost will be ready </li>
              <li> Waits for you outside of rehab. The signpost will be ready </li>
          </ul>
          <button class="float-right btn btn-primary"> Add to Cart </button>
        </div>
      </div>
      <div class="product-suggestions w-100">
        <h2 class="mb-4">Other Teddies Recommended for you </h2>
        <div class="row">
          <div class="col-sm-4">
            <img class="w-100"src="<%= asset_path('product-thumbnail-wireframe.png') %>" alt=""
            data-asset="product-thumbnail-2">

            <div class="suggestion-details text-secondary text-center pt-3">
              <p> Bad Life Yogi </p>
              <p> The Bear Company </p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="w-100 rounded" src="<%= asset_path('product-thumbnail-wireframe.png') %>" alt=""
                 data-asset="product-thumbnail-3">
            <div class="suggestion-details text-secondary text-center pt-3">
              <p> FluffBall </p>
              <p> inTeddit </p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="w-100 rounded"src="<%= asset_path('product-thumbnail-wireframe.png') %>" alt=""
                 data-asset="product-thumbnail-4">
            <div class="suggestion-details text-secondary text-center pt-3">
              <p> Hug Me Already </p>
              <p> LovelyBears </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% code_snippet = '```html
      <div class="product-main d-flex mb-5">
        <img src="your-product-image" alt="" class="product-thumbnail mr-4 w-50 rounded">
        <div class="product-infos w-50">
          <h2> Teddy Will-Greet-You </h2>
          <small class="text-secondary"> Manufactured by Acme ltd. </small>
          <p class="text-secondary mt-4"> This teddy does everything you always wanted and more. Don\'t hesitate to buy it right now. </p>
            <h2> Features </h2>
            <ul class="text-secondary">
              <li> Waits for you at the airport with a signpost </li>
              <li> Waits until you are out of Jail. The signpost will be ready </li>
              <li> Waits for you outside of rehab. The signpost will be ready </li>
          </ul>
          <button class="float-right btn btn-primary"> Add to Cart </button>
        </div>
      </div>
      <div class="product-suggestions w-100">
        <h2 class="mb-4">Other Teddies Recommended for you </h2>
        <div class="row">
          <div class="col-sm-4">
            <img class="w-100" src="your-product-image.png" alt=""
            data-asset="product-thumbnail-2">

            <div class="suggestion-details text-secondary text-center pt-3">
              <p> Bad Life Yogi </p>
              <p> The Bear Company </p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="w-100 rounded" src="your-product-image.png" alt=""
                 data-asset="product-thumbnail-3">
            <div class="suggestion-details text-secondary text-center pt-3">
              <p> FluffBall </p>
              <p> inTeddit </p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="w-100 rounded"src="your-product-image.png" alt=""
                 data-asset="product-thumbnail-4">
            <div class="suggestion-details text-secondary text-center pt-3">
              <p> Hug Me Already </p>
              <p> LovelyBears </p>
            </div>
          </div>
        </div>
      </div>
      ' %>

    <!-- Code Snippet below -->
      <%= render partial: 'shared/code_snippet', locals: { section_name: 'ecommerce', number: 1, code_snippet: code_snippet} %>

    <!--  -->

</section>
