<!DOCTYPE html>
<html>
  <head>
    <title>UiFlowCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="root d-flex">
      <div class="sidebar pt-5 px-3 bg-dark" style="position: sticky; top: 0px; height: 100vh;">
        <p><a href="/articles"> Articles</a></p>
        <p><a href="/features"> Product Features </a></p>
        <p><a class="text-secondary" href="#"> Dashboards </a></p>
        <p><a class="text-secondary" href="#"> E-Commerce </a></p>
        <p><a class="text-secondary" href="#"> Features </a></p>
        <p><a href="/forms"> Forms </a></p>
        <p><a href="/maps"> Maps </a></p>
        <p><a class="text-secondary" href="#"> Gallery </a></p>
        <p><a class="text-secondary" href="#"> Login </a></p>
        <p><a class="text-secondary" href="#"> User Profile </a></p>
        <p><a class="text-secondary" href="#"> Promo </a></p>
        <p><a class="text-secondary" href="#"> Search </a></p>
        <p><a class="text-secondary" href="#"> Testimonial </a></p>
        <p><a class="text-secondary" href="#"> Settings </a></p>
      </div>
      <div class="container pt-5">
          <h1>This is UI Flow Bro</h1>
          <p class="text-secondary"> Simple layouts made with bootstrap to accelerate your front end workflow.</p>
          <%= yield %>
      </div>

  </body>
</html>
